/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #161616;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 25%;
}
p {
  font-family: 'Archivo Narrow', sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
p {
  font-size: 2rem;
}
header {
  max-width: 100%;
  background: #666a86;
}
header #headerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
header #headerContainer .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #headerContainer .buttons button {
  width: 20%;
}
header #headerContainer .buttons .register {
  border: none;
  border-radius: 20px;
  padding: 1%;
  font-size: 4rem;
  cursor: pointer;
  background: linear-gradient(to right, #373b44, #4286f4);
  color: #161616;
  margin: 2%;
}
header #headerContainer .buttons .logIn {
  border: none;
  border-radius: 20px;
  padding: 1%;
  font-size: 4rem;
  cursor: pointer;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  color: white;
  margin: 2%;
}
header .navBar {
  display: flex;
  font-size: 8rem;
  width: 100%;
}
header .navBar nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 4%;
}
header .navBar nav a {
  text-decoration: none;
  color: #d1ffd7;
}
