/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #161616;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 25%;
}
p {
  font-family: 'Archivo Narrow', sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  text-align: center;
}
.aboutHeader {
  width: 100%;
  max-width: 100%;
  border-bottom: 2px solid #161616;
  height: 80em;
  margin-bottom: 3em;
}
@media (max-width:768px) {
  .aboutHeader {
    height: 160%;
  }
}
@media (max-width:768px) {
  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
}
.navBar .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
@media (max-width:768px) {
  .navBar .logo {
    justify-content: center;
    width: 100%;
  }
}
.navBar .logo img {
  width: 100%;
  padding-left: 2em;
}
@media (max-width:768px) {
  .navBar .logo img {
    padding: 0;
    width: 15%;
  }
}
.navBar .aboutNav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}
@media (max-width:768px) {
  .navBar .aboutNav {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.navBar .aboutNav nav {
  padding: 0;
}
.navBar .aboutNav .buttons {
  flex-direction: column;
  height: 120%;
}
.navBar .aboutNav .buttons .register {
  margin-bottom: 0.5em;
}
.navBar .aboutNav .buttons button {
  border-radius: 10px;
  width: 110%;
}
.navBar .aboutNav .buttons button:hover {
  border: 0px;
}
header {
  width: 100%;
  max-width: 100%;
  height: 190em;
}
@media (max-width:1024px) {
  header {
    width: 80%;
    height: 120em;
  }
}
@media (max-width:768px) {
  header {
    height: 130em;
  }
}
header #headerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
@media (max-width:768px) {
  header #headerContainer {
    height: 100%;
  }
}
@media (max-width:768px) {
  header #headerContainer .logo {
    width: 100%;
  }
}
header #headerContainer .logo img {
  width: 100%;
}
header .navBar {
  display: flex;
  font-size: 8rem;
  width: 100%;
}
@media (max-width:768px) {
  header .navBar {
    justify-content: space-around;
    font-size: 5rem;
  }
}
header .navBar nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 4%;
}
header .navBar nav a {
  text-decoration: none;
  color: #d1ffd7;
}
header .navBar nav a:hover {
  color: white;
}
@media (max-width:768px) {
  header .navBar nav a {
    padding: 2.5%;
  }
}
header .border {
  align-self: center;
  height: 2em;
  background-color: black;
  width: 75%;
  margin-bottom: 25em;
}
section {
  display: flex;
  width: 100%;
  max-width: 100%;
}
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200em;
  background-image: url("../img/headerImage.jpg");
  background-repeat: no-repeat;
  text-align: center;
}
#intro .motto {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4%;
}
#intro .motto h2 {
  font-weight: 950;
  font-size: 5rem;
}
#intro .motto p {
  font-size: 2.5rem;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  width: 20%;
}
@media (max-width:768px) {
  .buttons button {
    width: 50%;
  }
}
.buttons .register {
  border: none;
  border-radius: 20px;
  padding: 1%;
  font-size: 3rem;
  cursor: pointer;
  background: linear-gradient(to top, #373b44, #d1ffd7);
  color: #161616;
  margin: 2%;
}
.buttons .register:hover {
  border: none;
  border-radius: 20px;
  padding: 1%;
  font-size: 3rem;
  cursor: pointer;
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  color: white;
  margin: 2%;
  border: 1px solid white;
}
.buttons .logIn {
  border: none;
  border-radius: 20px;
  padding: 1%;
  font-size: 3rem;
  cursor: pointer;
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  color: white;
  margin: 2%;
}
.buttons .logIn:hover {
  border: none;
  border-radius: 20px;
  padding: 1%;
  font-size: 3rem;
  cursor: pointer;
  background: linear-gradient(to top, #373b44, #d1ffd7);
  color: black;
  margin: 2%;
  border: 2px solid black;
}
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(10deg, #95b8d1, #666a86);
  background-size: 400% 400%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width:768px) {
  .aboutContainer {
    height: 100%;
  }
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 50em;
}
#about .text {
  letter-spacing: 2.5em;
  background: #161616;
  color: #d1ffd7;
  text-align: center;
  width: 100%;
  margin-bottom: 55em;
}
.students {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width:768px) {
  .students {
    flex-wrap: unset;
    flex-direction: column;
    width: 90%;
    height: 100%;
  }
}
.students .studentInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  flex-direction: column;
  border: 2px solid black;
  text-align: center;
  height: 60%;
}
@media (max-width:1024px) {
  .students .studentInfo {
    width: 30%;
  }
}
@media (max-width:768px) {
  .students .studentInfo {
    width: 80%;
  }
}
.students .studentInfo a {
  text-decoration: none;
  color: #161616;
}
.students .studentInfo img {
  height: 50%;
  width: 95%;
  border-radius: 360px;
}
@media (max-width:768px) {
  .students .studentInfo img {
    width: 100%;
  }
}
.students .studentInfo p {
  letter-spacing: 0.15em;
  font-weight: 650;
  font-size: 3rem;
}
@media (max-width:768px) {
  .students .studentInfo p {
    font-size: 4rem;
  }
}
.students .studentInfo .underline {
  text-decoration: underline;
}
.students .studentInfo .italic {
  font-style: oblique;
}
.students #vinnie {
  background: linear-gradient(to bottom, #24272c, #99d1a1);
}
.students #alve {
  background: linear-gradient(to bottom, #161f1f, #95B8D1);
}
.students #grissobel {
  background: linear-gradient(to bottom, #161f1f, #9b8daa);
}
.students #daniel {
  background: linear-gradient(to bottom, #161f1f, #8daa91);
}
.students #issac {
  background: linear-gradient(to bottom, #24272c, #7e3b3b);
}
#aboutFooter {
  width: 100%;
  position: relative;
  top: 2em;
  padding: 2% 0;
  font-size: 3.5rem;
  font-weight: 900;
}
@media (max-width:768px) {
  #aboutFooter {
    top: 0;
  }
}
.mainContainer {
  background: linear-gradient(10deg, #95b8d1, #666a86);
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.why {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 220%;
  background: linear-gradient(to top, #8daa91, #95B8D1);
  padding-bottom: 20em;
  padding-top: 20em;
}
.why .productInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 100%;
  padding: 5em;
  font-weight: 650;
  background: linear-gradient(to right, rgba(90, 63, 55, 0.6), rgba(44, 119, 68, 0.6));
}
@media (max-width:768px) {
  .why .productInfo {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
.why .productInfo .textBox {
  letter-spacing: 1.5em;
  height: 90%;
  line-height: 5120%;
  width: 435em;
}
@media (max-width:768px) {
  .why .productInfo .textBox {
    width: 90%;
  }
}
.why .border {
  height: 85%;
  border: 2px solid black;
}
@media (max-width:768px) {
  .why .border {
    border: none;
  }
}
.why img {
  height: 95%;
  width: 450em;
}
@media (max-width:1024px) {
  .why img {
    width: 320em;
  }
}
@media (max-width:768px) {
  .why img {
    width: 100%;
  }
}
.why h3 {
  text-align: center;
  font-size: 5rem;
  color: #161616;
  padding-bottom: 1em;
  font-weight: 900;
}
.why p {
  font-size: 2.5rem;
}
@media (max-width:1024px) {
  .why p {
    font-size: 2rem;
  }
}
.textSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220em;
  background: linear-gradient(to top, #8daa91, #95B8D1);
  text-align: center;
}
@media (max-width:768px) {
  .textSection {
    height: 180em;
  }
}
.textSection h3 {
  font-size: 10rem;
}
@media (max-width:768px) {
  .textSection h3 {
    font-size: 8rem;
  }
}
.textSection p {
  font-size: 2.2rem;
  font-weight: 650;
  color: #161616;
}
@media (max-width:768px) {
  .textSection p {
    font-size: 1.7rem;
    line-height: 1em;
    letter-spacing: 0.3em;
  }
}
.textSection .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 85%;
  background-image: url("../img/currency.jpg");
  background-size: 100%;
  max-width: 100;
}
@media (max-width:768px) {
  .textSection .textContainer {
    width: 100%;
    height: 100%;
  }
}
.textSection .textContainer .area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.322), rgba(241, 250, 219, 0.767));
}
.textSection .textContainer .area .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}
@media (max-width:768px) {
  .textSection .textContainer .area .text {
    width: 95%;
  }
}
.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200%;
  background: linear-gradient(to top, #8daa91, #95B8D1);
  padding-bottom: 20em;
  padding-top: 20em;
}
@media (max-width:768px) {
  .product {
    flex-direction: column;
    padding: 0;
    height: 430em;
  }
}
.product .productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 85%;
}
@media (max-width:768px) {
  .product .productInfo {
    flex-direction: column;
  }
}
.product .productInfo .titleImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  padding-right: 40em;
}
@media (max-width:768px) {
  .product .productInfo .titleImage {
    padding: 0;
    width: 100%;
  }
}
.product .productInfo .titleImage h3 {
  padding-bottom: 0.5em;
  font-size: 5rem;
}
.product .productInfo .titleImage img {
  width: 650em;
}
@media (max-width:768px) {
  .product .productInfo .titleImage img {
    width: 110%;
    margin-bottom: 50em;
  }
}
.product .productInfo .border {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 350em;
}
@media (max-width:768px) {
  .product .productInfo .border {
    border: 0;
    height: 0;
  }
}
.product .productInfo .textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 4520%;
  letter-spacing: 1.5em;
  padding-top: 30em;
  padding-left: 40em;
}
@media (max-width:768px) {
  .product .productInfo .textBox {
    padding: 0;
    text-align: center;
  }
}
.product .productInfo .textBox p {
  font-weight: 650;
  font-size: 2rem;
  color: #161616;
}
#reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220%;
  padding-bottom: 20em;
  padding-top: 20em;
  background: linear-gradient(to top, #8daa91, #95B8D1);
}
@media (max-width:768px) {
  #reverse {
    padding: 0;
    text-align: center;
    height: 420em;
  }
}
#reverse .productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-direction: row-reverse;
  height: 85%;
}
@media (max-width:768px) {
  #reverse .productInfo {
    flex-direction: column;
    justify-content: center;
  }
}
#reverse .productInfo .titleImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  padding-right: 0;
  padding-left: 40em;
}
@media (max-width:768px) {
  #reverse .productInfo .titleImage {
    width: 110%;
    padding: 0;
  }
}
#reverse .productInfo .titleImage h3 {
  padding-bottom: 0.5em;
  font-size: 5rem;
}
#reverse .productInfo .titleImage img {
  width: 650em;
}
@media (max-width:768px) {
  #reverse .productInfo .titleImage img {
    width: 100%;
    margin-bottom: 50em;
  }
}
#reverse .productInfo .border {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 350em;
}
@media (max-width:768px) {
  #reverse .productInfo .border {
    border: none;
    height: 0;
  }
}
#reverse .productInfo .textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 4520%;
  letter-spacing: 1.5em;
  padding-top: 30em;
  padding-left: 0;
  padding-right: 40em;
}
@media (max-width:768px) {
  #reverse .productInfo .textBox {
    padding: 0;
    text-align: center;
  }
}
#reverse .productInfo .textBox p {
  font-weight: 650;
  font-size: 2rem;
  color: #161616;
}
.contact {
  height: 150em;
  text-align: center;
}
@media (max-width:768px) {
  .contact {
    height: 200em;
  }
}
.contact .contactContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.contact .contactContainer p {
  font-size: 2rem;
  font-weight: 800;
}
.contact .contactContainer .contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.contact .contactContainer .contactForm input {
  width: 25em;
  height: 2.5em;
}
.contact .contactContainer h3 {
  font-size: 3rem;
}
.contact .contactContainer p {
  letter-spacing: 0.15em;
  padding-top: 1em;
  font-size: 2rem;
}
.contact #reason {
  height: 7em;
}
.contact .name {
  margin-bottom: 1em;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #666a86;
  height: 1em;
  font-size: 5rem;
  margin-top: 1em;
}
@media (max-width:768px) {
  footer {
    font-size: 3rem;
    height: 2em;
    text-align: center;
  }
}
