
.aboutContainer {
    .flex(center,center, 100%);
    flex-direction: column;
    background: linear-gradient(10deg,#95b8d1, #666a86);
    background-size:400% 400%;	
    width: 100%;
    margin: 0 auto;

    @media @phone {
        height: 100%;
    }
}

#about {
    .flex(center, center, 100%);
    flex-direction: column;
    padding-bottom: 50em;

    .text { 
        letter-spacing: 2.5em;
        background: @black;
        color: @mint;
        text-align: center;
        width: 100%;
        margin-bottom: 55em;
    }
    
}    
.students {
    .flex(center, center, 100%);
    flex-wrap: wrap;

    @media @phone {
        flex-wrap: unset;
        flex-direction: column;
        width:90%;
        height: 100%;
    }


    .studentInfo {
        .flex(center, center, 25%);
        flex-direction: column;
        border: 2px solid black;
        text-align: center;
        height: 60%;

        @media @tablet { 
            width:30%;
        }

        @media @phone {
            width: 80%;
        }

        a {
            text-decoration: none;
            color: @black;
        }

        img {
            height: 50%;
            width: 95%;
            border-radius: 360px;

            @media @phone {
                width:100%;
            }
        }
        p {      

            letter-spacing: 0.15em;
            font-weight: 650;
            font-size: 3rem;  


            @media @phone {
                font-size: 4rem;
            }
        }
        .underline {
        text-decoration: underline;
        }

        .italic {
            font-style: oblique;
        }


    }//STUDENT INFO
    
    #vinnie {
        background: @vinnie;
    }

    #alve {
        background: @alve;
    }

    #grissobel {
        background: @grissobel;
    }

    #daniel {
        background: @daniel;
    }

    #issac {
        background: @issac;
    }
}

#aboutFooter {
    width: 100%;
    position: relative;
    top: 2em;
    padding: 2% 0;
    font-size: 3.5rem;
    font-weight: 900;

    @media @phone {
        top: 0;
    }
}

