.button (@color, @font-color, @margin){
    border: none;            
    border-radius: 20px;
    padding: 1%;
    font-size: 3rem;
    cursor: pointer;
    background: @color;
    color: @font-color;
    margin: @margin;
}

.flex(@justify, @align, @width) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    width: @width;
}