/////////////////////////////////////////////ELEMENTS AND ASSIGNED COLOR\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
@h1-color: @mint;
@header-bg: @mint;
@link-color: @jeans;
@text-color: @black;
@header-bg: @light-lavender;
@section-background: @green;


/////////////////////////////////////////////SETTING COLORS TO VARIABLES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
@mint: #d1ffd7;
@jeans: #95B8D1;
@light-lavender: #666a86;
@black: #161616;
@green: #8daa91;


@register: linear-gradient(to right, #373b44, #4286f4);
@login: linear-gradient(to right, #bdc3c7, #2c3e50);